@model IEnumerable<Match>
<div>
    <div>
        @if (Model.Any(m => m.Round.Contains("Qualification")))
        {
            <div class="roundrow">
                <div class="round">
                    Qualification
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round.Contains("Qualification")))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div>
        @if (Model.Any(m => m.Round.Contains("1/64 finals")))
        {
            <div class="roundrow">
                <div class="round">
                    1/64   FINAL
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round.Contains("1/64 finals")))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div>
        @if (Model.Any(m => m.Round.Contains("1/32")))
        {
            <div class="roundrow">
                <div class="round">
                    1/32   FINAL
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round.Contains("1/32")))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div>
        @if (Model.Any(m => m.Round.Contains("1/16")))
        {
            <div class="roundrow">
                <div class="round">
                    1/32   FINAL
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round.Contains("1/16")))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div>
        @if (Model.Any(m => m.Round.Contains("1/8")))
        {
            <div class="roundrow">
                <div class="round">
                    1/32   FINAL
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round.Contains("1/8")))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div>
        @if (Model.Any(m => m.Round.Contains("1/4")))
        {
            <div class="roundrow">
                <div class="round">
                    1/32   FINAL
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round.Contains("1/4")))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div>
        @if (Model.Any(m => m.Round.Contains("1/2")))
        {
            <div class="roundrow">
                <div class="round">
                    1/32   FINAL
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round.Contains("1/2")))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div >
        @if (Model.Any(m => m.Round == "Bronze-Match"))
        {
            <div class="roundrow">
                <div class="round">
                    BRONZE-MATCH
                </div>
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "Bronze-Match"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div>
        @if (Model.Any(m => m.Round == "Final"))
        {
            <div class="roundrow">
                <div class="round">
                    FINAL
                </div>
            </div>   
        }
        @foreach (var m in Model.Where(m => m.Round == "Final"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
</div>
