@{
    Layout = null;
}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item"><a asp-action="Index" asp-controller="Home" class="nav-link">Home</a></li>
            <li class="nav-item"><a asp-action="Index" asp-controller="Tournaments" class="nav-link">Tournaments</a></li>
            <li class="nav-item"><a asp-action="Index" asp-controller="Clubs" class="nav-link">Clubs</a></li>
            <li class="nav-item"><a asp-action="Index" asp-controller="Players" class="nav-link">Players</a></li>
            <li class="nav-item"><a asp-action="Index" asp-controller="Ratings" class="nav-link">Ratings</a></li>
        </ul>
    </header>
</div>