@model QualificationViewModel
@{
    Layout = "_TournamentLayout";
    ViewData["Title"] = Model.Tournament.Name + "Details";
}
<h1 class="justify-content-center d-flex"
    style="color: blanchedalmond; padding: 15px; margin-bottom: 50px; font-family: Impact;">
    @Model.Tournament.Name - @Model.Tournament.Season.Data
</h1>
<div class="mt-5">
    @foreach (var m in Model.Matches.GroupBy(m => m.Round))
    {
    <div class="roundrow">
        <div class="round">
            @m.Key 
        </div>
        @foreach (var c in m)
        {
            <div>
                @await Html.PartialAsync("Match", c)
            </div>
        }
    </div>
    }
</div>