@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Soccer World</title>
    <link rel="stylesheet" href="~/css/soccer.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="menu">
                <div id="container">
                    <div id="nav">
                        <ul>
                            <li><a asp-controller="Tournaments"><span>Tournaments</span></a></li>
                            <li><a asp-controller="Clubs"><span>Clubs</span></a></li>
                            <li><a asp-controller="Nationals"><span>Nationals</span></a></li>
                            <li><a asp-controller="Players"><span>Players</span></a></li>
                            <li><a asp-controller="Ratings"><span>Ratings</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>