@model Tournament
<div>
    @await Html.PartialAsync("_ShedulleGroup")
</div>
<div class="container">
    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#shedulle2" aria-expanded="false" aria-controls="shedulle2">
        Shedulle for 1/2 finals
    </button>
    <div class="collapse" id="shedulle2">
        <div class="card card-body">
            <form asp-action="ShedulleSemi" asp-controller="Shedulles" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                @for (int i = 0; i < 4; i++)
                {
                    <div class="form-group">
                        <select name="clubs[]" asp-items="@ViewBag.Teams">
                        </select>
                    </div>
                }
                <input type="text" inputmode="numeric" name="data" />
                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#shedulleFinal" aria-expanded="false" aria-controls="shedulleFinal">
        Shedulle for FINAL
    </button>
    <div class="collapse" id="shedulleFinal">
        <div class="card card-body">
            <form asp-action="ShedulleFinal" asp-controller="Shedulles" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                @for (int i = 0; i < 4; i++)
                {
                    <div class="form-group">
                        <select name="clubs[]" asp-items="@ViewBag.Teams">
                        </select>
                    </div>
                }
                <input type="text" inputmode="numeric" name="data" />
                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
</div>